@{
	ViewData["Title"] = "Product Details";
}
@model ProductViewModel

<div class="section">
	<!-- container -->
	<div class="container">
		<div class="product row container-fluid flex-lg-row">
			<div class="product-img col-md-5 taller">
				<img src="@Model.Product.ImageUrl" alt="">
				<div class="product-label">
					@if (@Model.Product.Discount > 0.0)
					{
						<span class="sale">-@(@Model.Product.Discount * 100)%</span>
					}
				</div>
			</div>
			<div class="product-body col-md-7">
				<p class="product-category">@Model.Category.Name</p>
				<h3 class="product-name"><a asp-area="Shop" asp-controller="Product" asp-action="Details" asp-route-id="@Model.Product.Id">@Model.Product.Name</a></h3>
				@if (Model.Product.Discount > 0.0)
				{
					<h4 class="product-price"> Price : @(Model.Product.Price * (1 - Model.Product.Discount))
						<del class="product-old-price">@Model.Product.Price</del>
					</h4>
				}
				else
				{
					<h4 class="product-price">Price : @Model.Product.Price</h4>
				}
				<h4 class="product-price">Stock Available : @(Model.Inventory.StockAvailable - Model.Inventory.OnPending)</h4>
				<div class="product-rating">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
				</div>
				
				<div class="product-details">
					<p>Description Goes Here</p>
				</div>
				<form class="form" method="post">
					<input type="number" value="1" min="1" style="padding:5px 10px; margin-bottom:5px;"/>
					&nbsp;
					<span>
						<button class="btn btn-primary"><i class="fa fa-cart-plus"></i> Add To Cart</button>
						&nbsp;
						<button type="submit" class="btn btn-success"><i class="fa fa-cart-arrow-down"></i> Buy Now</button>
					</span>
				</form>
			</div>
		</div>
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->
<br />
<br />
<br />