@{
	ViewData["Title"] = "Shop";
}
@model CategoryViewModel
@{
	<partial name="_NavigationPartial" />
}

<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">

			<!-- section title -->
			<div class="col-md-12">
				<div class="section-title">
					<h3 class="title">Products of Category - @Model.Category.Name</h3>
					<div class="section-nav">
						@*
						<ul class="section-tab-nav tab-nav">
						<li class="active"><a data-toggle="tab" href="#tab1">Laptops</a></li>
						<li><a data-toggle="tab" href="#tab1">Smartphones</a></li>
						<li><a data-toggle="tab" href="#tab1">Cameras</a></li>
						<li><a data-toggle="tab" href="#tab1">Accessories</a></li>
						</ul>
						*@
					</div>
				</div>
			</div>
			<!-- /section title -->
			<!-- Products tab & slick -->
			<div class="col-md-12">
				<div class="row">
					@foreach(var item in Model.Products){
					<div class="col-md-3">
						<!-- product -->
						<div class="product">
							<div class="product-img">
									<img src="@item.ImageUrl" alt="">
									<div class="product-label">
										@if (item.Discount > 0.0)
										{
											<span class="sale">-@(item.Discount * 100)%</span>
										}
										<span class="new">NEW</span>
									</div>
							</div>
							
							<div class="product-body">
								<h3 class="product-name"><a asp-area="Shop" asp-controller="Product" asp-action="Details" asp-route-id="@item.Id">@item.Name</a></h3>
								
								@if (item.Discount > 0.0)
								{
									<h4 class="product-price">
										@(item.Price * (1 - item.Discount))
										<del class="product-old-price">@item.Price</del>
									</h4>
								}
								else
								{
									<h4 class="product-price">@item.Price</h4>
								}
								
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
								<div class="product-btns">
									<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
									<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
									<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
							</div>
						</div>
						<!-- /product -->
					</div>
					}
					
				</div>
			</div>
			<!-- Products tab & slick -->
			
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->
<br />
<br />
<br />